workflows/Gmail AI Replier.json
{
  "name": "Gmail AI Replier",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c90c5983-43b2-4b18-b1f5-db974666c35f",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "c4nlKQgxxVli6DSV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Subject }}\n{{ $json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "e0d061b2-6d76-4888-9c72-3f0298653fb0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        224
      ],
      "id": "92bf9685-7727-4b69-a991-c544aeb959b8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "IsVx4qjxhr8w2Ma6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From }}",
        "subject": "={{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        0
      ],
      "id": "db437f66-47c8-42a4-b1d4-cacd3b22baae",
      "name": "Send a message",
      "webhookId": "d889900d-d8a3-4fa4-b0bd-5981d9dd875e",
      "credentials": {
        "gmailOAuth2": {
          "id": "c4nlKQgxxVli6DSV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "9a4b135e-3b6c-4c1d-b0e8-7008df09354d",
      "name": "Get a message",
      "webhookId": "3ad174ea-2033-43f3-9904-5cc31bf91988",
      "credentials": {
        "gmailOAuth2": {
          "id": "c4nlKQgxxVli6DSV",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ff51a242-6eb1-4cd5-8aeb-ac39f75e56a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "70f0f573219054529c03f7ae73893c3378ea1ac6b2cf6e20f585946cff6735bb"
  },
  "id": "AyBKFTu-RTDx5nV52vKze",
  "tags": []
}